<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/use</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">930110</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>


        <!-- 把session绑定到当前线程上 -->
        <property name="hibernate.current_session_context_class">thread</property>


        <mapping resource="com/sinosoft/demo/TabEntity.hbm.xml"/>
        <mapping resource="com/sinosoft/demo/GradeEntity.hbm.xml"/>
        <mapping resource="com/sinosoft/demo/StudentEntity.hbm.xml"/>
    </session-factory>
</hibernate-configuration>